@import '../../../../index.css';

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: var(--neutral-silver-color);
    font-family: var(--font-family);
}

.logo{
    display: flex;
    flex: 2;
}



.linkButton{
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100px;
}

.aboutUs{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}