@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --primary-color: #ED1C28;
  --secondary-color: #263238;
  --info-color: #2194F3;
  --shade1-color: #C70E19;
  --shade2-color: #A41018;
  --shade3-color: #88141B;
  --shade4-color: #711015;
  --shade5-color: #4A0509;
  --tin1-color: #FE3541;
  --tin2-color: #FF656E;
  --tin3-color: #FF9DA3;
  --tin4-color: #FFC5C8;
  --tin5-color: #FFDFE1;
  --action-warning-color: #FBC02D;
  --action-error-color: #E53835;
  --action-success-color: #2E7D31;
  --netral-balck-color: #263238;
  --netral-D_Gray-color: #4D4D4D;
  --neutral-grey-color: #717171;
  --neutral-grey_blue--color: #ABBED1;
  --neutral-silver-color: #F5F7FA;
  --neutral-white-color: #FFFFFF;

  --font-family: "Inter", sans-serif;
}

